<template>
  <div>
    <div class="container">
      <div class="weather-side">
        <div class="weather-gradient"></div>
        <div class="date-container">
          <h2 class="date-dayname">{{chosen.name}}</h2>
          <i class="location-icon" data-feather="map-pin"></i>
          <span class="location">Paris, FR</span>
        </div>
        <div class="weather-container">
          <i class="weather-icon" id="cond" v-html="chosen.icon"></i>
          <h1 class="weather-temp">{{chosen.temp}}°C</h1>
          <h3 class="weather-desc">sun</h3>
        </div>
      </div>
      <div class="info-side">
        <div class="today-info-container">
          <div class="today-info">
            <div class="precipitation">
              <span class="title">PRECIPITATION</span>
              <span class="value">{{chosen.precip}} %</span>
              <div class="clear"></div>
            </div>
            <div class="humidity">
              <span class="title">HUMIDITY</span>
              <span class="value">{{chosen.humid}} %</span>
              <div class="clear"></div>
            </div>
            <div class="wind">
              <span class="title">WIND</span>
              <span class="value">{{chosen.wind}} km/h</span>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="week-container">
          <ul class="week-list">
            <li
              :class="currentDay == day.name ? 'active' : null"
              @click="currentDay = day.name"
              v-for="day of weather"
              :key="day.name"
            >
              <i class="day-icon" data-feather="sun"></i>
              <span class="day-name">{{day.name}}</span>
              <span class="day-temp">{{day.temperature}}°C</span>
            </li>
            <div class="clear"></div>
          </ul>
        </div>
        <div class="location-container">
          <button class="location-button">
            <i data-feather="map-pin"></i>
            <span>Change location</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as api from "./weather";
export default {
  name: "app",
  async mounted() {
    this.$data.weather = (await api.weather()).properties.periods.filter(
      period => period.name.includes("Night") == false
    );
  this.$data.weather.forEach(weather => {
    case(weather)
       this.$data.chosen.icon = feather.icons[icon].toSvg({
      height: 60,
      width: 60
    });
  })
    let icon;
    this.$data.chosen = this.$data.weather.filter(
      day => day.name == this.$data.currentDay
    )[0];
  },
  data() {
    return {
      chosen: "",
      weather: null,
      date: new Date()
        .toDateString()
        .split(" ")
        .splice(1, 3)
        .toString()
        .replace(",", " ")
        .replace(",", " "),
      currentDay: "Tonight"
    };
  },
  watch: {
    "$data.currentDay": function() {
      feather.replace();
    }
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
*:not(input) {
  user-select: none;
}
html {
  line-height: 1.15;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
}

.clear {
  clear: both;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: #343d4b !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 745px) {
    & > div {
      height: 100vh;
      width: 100vw;
    }
  }
}

.container {
  border-radius: 25px;
  -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-color: #222831;
  color: #ffffff;
  height: 400px;
  padding-left: unset;
  @media (max-width: 745px) {
    width: 100vw;
  }
}
.weather {
  &-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: var(--gradient);
    border-radius: 25px;
    opacity: 0.8;
    @media (max-width: 745px) {
      width: 100vw;
      border-radius: 0;
    }
  }

  &-container {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }

  &-icon.feather {
    height: 60px;
    width: auto;
  }

  &-temp {
    margin: 0;
    font-weight: 700;
    font-size: 4em;
  }

  &-desc {
    margin: 0;
  }

  &-side {
    position: relative;
    height: 100%;
    border-radius: 25px;
    background: url(https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80)
      no-repeat center;
    background-size: cover;
    width: 300px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transform: translateZ(0) scale(1.02) perspective(1000px);
    float: left;

    @media (max-width: 745px) {
      width: 100vw;
      border-radius: 0;
    }
    &:hover {
      @media (min-width: 745px) {
        -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
        transform: scale(1.1) perspective(1500px) rotateY(10deg);
      }
    }
  }
}
.date-container {
  position: absolute;
  top: 25px;
  left: 25px;
}

.date-dayname {
  margin: 0;
}

.date-day {
  display: block;
}

.location {
  display: inline-block;
  margin-top: 10px;
}

.location-icon {
  display: inline-block;
  height: 0.8em;
  width: auto;
  margin-right: 5px;
}

.info-side {
  position: relative;
  float: left;
  height: 100%;
  padding-top: 25px;
  @media (max-width: 745px) {
    width: 100vw;
  }
}

.today-info {
  padding: 15px;
  margin: 0 25px 25px 25px;
  border-radius: 10px;
  > div {
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
    .title {
      float: left;
      font-weight: 700;
    }
    .value {
      float: right;
    }
  }
}

//li hover

.week-list {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 10px 35px;
  -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  @media (min-width: 422px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  @media (max-width: 421px) {
    grid-template-columns: 1fr 1fr;
  }
  > li {
    float: left;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
    border-radius: 10px;
    &:hover {
      background: #fff;
      color: #222831;
      -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
      @media (min-width: 745px) {
        transform: scale(1.1);
      }
    }
    &.active {
      background: #fff;
      color: #222831;
      border-radius: 10px;
    }
    .day {
      &-name {
        display: block;
        margin: 10px 0 0 0;
        text-align: center;
      }
      &-icon {
        display: block;
        height: 30px;
        width: auto;
        margin: 0 auto;
      }
      &-temp {
        display: block;
        text-align: center;
        margin: 10px 0 0 0;
        font-weight: 700;
      }
    }
  }
}
.location-container {
  padding: 25px 35px;
}

.location-button {
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  background-image: var(--gradient);
  color: #ffffff;
  font-weight: 700;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  &:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  .feather {
    height: 1em;
    width: auto;
    margin-right: 5px;
  }
}
</style>
